.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    cursor: none;
    transform: translate(-50%, -50%);
    pointer-events: none;
}